@model Post

<form asp-controller="Posts" asp-action="Create" method="post">
    <p>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
    </p>

    <p>
        <label asp-for="Subtitle">Subtitle:</label>
        <input asp-for="Subtitle" />
    </p>

    <p>
        <label asp-for="Abstract">Abstract:</label>
        <input asp-for="Abstract" />
    </p>

    <p>
        <label asp-for="Body">Body:</label>
        <input asp-for="Body" />
    </p>
    <button type="submit">Submit</button>
</form>

