

<div style="margin-top:100px;margin-left:100px;margin-right:100px;">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-group">

        <div class="form-group row">
            <input name="email" type="email" class="form-control" placeholder="Email" />
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
